.App {
  text-align: center;
  height: 100vh;
  align-items: center;
  margin: 30px 30px;

}
button{
  cursor: pointer;
  border: none;
  width: 30px;
  height: 30px;
  color: #fff;
}

button.minus{
  background-color: red;
  
}

button.plus{
  background-color: blue;

}
